# CI ownership
/.azuredevops/                                                        @ROCm/external-ci
/.github/                                                             @ROCm/rocm-systems-reviewers
/.github/workflows/hipfile-*.yml                                      @ROCm/hipfile-reviewers
/.github/workflows/rocjitsu-*.yml                                     @ROCm/rocjitsu-core-team

# Project-specific ownership
/projects/amdsmi/                                                     @ROCm/smi-reviewers
/projects/clr/                                                        @ROCm/clr-reviewers
/projects/hip/                                                        @ROCm/hip-reviewers
/projects/hipfile/                                                    @ROCm/hipfile-reviewers
/projects/hipother/                                                   @ROCm/hipother-reviewers
/projects/hip-tests/                                                  @ROCm/hip-tests-reviewers
/projects/rccl/                                                       @ROCm/rccl-reviewers
/projects/rccl/src/include/api_trace.h                                @ROCm/rccl-reviewers @ROCm/ROCM-DevTools-Team
/projects/rccl-tests/                                                 @ROCm/rccl-reviewers
/projects/rdc/                                                        @ROCm/rdc-reviewers
/projects/rocm-core/                                                  @nunnikri @frepaul @raramakr @ashutom @amd-isparry @arvindcheru
/projects/rocm-smi-lib/                                               @ROCm/smi-reviewers
/projects/rocminfo/                                                   @dayatsin-amd @shwetagkhatri
/projects/rocprofiler-compute/                                        @ROCm/rocprof-compute-reviewer
/projects/rocprofiler-systems/                                        @ROCm/rocprof-sys @jrmadsen
/projects/rocprofiler-sdk/                                            @ROCm/rocm-devtools-team @ROCm/rocprofiler-owners # First Review: @ROCm/rocm-devtools-team, Final Review: @ROCm/rocprofiler-owners
/projects/rocr-runtime/                                               @kentrussell @dayatsin-amd @cfreeamd @atgutier
/projects/roctracer/                                                  @ammarwa @bgopesh
/projects/rocshmem/                                                   @ROCm/rocshmem-reviewers
/projects/rocdbgapi/                                                  @ROCm/rocm-devtools-debugger
/projects/rocr-debug-agent/                                           @ROCm/rocm-devtools-debugger

# Language runtime build infra code owners
/projects/clr/**/*.cmake                                              @ROCm/clr-reviewers @ROCm/lrt-build-infra
/projects/clr/**/CMakeLists.txt                                       @ROCm/clr-reviewers @ROCm/lrt-build-infra
/projects/hip/**/*.cmake                                              @ROCm/hip-reviewers @ROCm/lrt-build-infra
/projects/hip/**/CMakeLists.txt                                       @ROCm/hip-reviewers @ROCm/lrt-build-infra
/projects/hipother/**/*.cmake                                         @ROCm/hipother-reviewers @ROCm/lrt-build-infra
/projects/hipother/**/CMakeLists.txt                                  @ROCm/hipother-reviewers @ROCm/lrt-build-infra
/projects/hip-tests/**/*.cmake                                        @ROCm/hip-tests-reviewers @ROCm/lrt-build-infra
/projects/hip-tests/**/CMakeLists.txt                                 @ROCm/hip-tests-reviewers @ROCm/lrt-build-infra

# rocr-runtime section-specific code owners
/projects/rocr-runtime/libhsakmt                                      @kentrussell @dayatsin-amd @cfreeamd
/projects/rocr-runtime/libhsakmt/tests/kfdtest                        @kentrussell @xiaogang-chen-amd
/projects/rocr-runtime/libhsakmt/include/impl                         @dayatsin-amd @cfreeamd @gandryey @chrispaquot
/projects/rocr-runtime/libhsakmt/src/dxg                              @dayatsin-amd @cfreeamd @gandryey @chrispaquot
/projects/rocr-runtime/rocrtst                                        @shwetagkhatri @cfreeamd
/projects/rocr-runtime/runtime/hsa-runtime/core/runtime/trap_handler/*.s	@lancesix @dayatsin-amd @cfreeamd @shwetagkhatri
/projects/rocr-runtime/runtime/hsa-runtime/core/driver/xdna           @atgutier @ypapadop-amd @dayatsin-amd @cfreeamd
/projects/rocr-runtime/runtime/hsa-runtime/core/driver/virtio         @HongleiHuang-amd @dayatsin-amd @cfreeamd
/projects/rocr-runtime/runtime/hsa-runtime/loader                     @dayatsin-amd @kzhuravl @cfreeamd
/projects/rocr-runtime/runtime/hsa-runtime/image                      @shwetagkhatri @dayatsin-amd @cfreeamd
/projects/rocr-runtime/runtime/hsa-runtime/pcs                        @shwetagkhatri @dayatsin-amd @cfreeamd
/projects/rocr-runtime/runtime/docs/sphinx                            @ROCm/rocm-documentation

# rocprof-trace-decoder code owners
/projects/rocprof-trace-decoder/                                      @ROCm/rocm-devtools-team

# Media Libs
/projects/rocdecode/                                                  @kiritigowda @AryanSalmanpour @rrawther
/projects/rocjpeg/                                                    @kiritigowda @AryanSalmanpour @rrawther

# Experimental
/experimental/perf-dkms                                               @bwelton

# Emulation
/emulation/                                                           @atgutier
/emulation/mirage/                                                    @amd-arosa @ROCm/rocjitsu-core-team
/emulation/rocjitsu/                                                  @atgutier @ROCm/rocjitsu-core-team

# Profilers
/profilers/profiler-hub                                               @ROCm/rocm-profiler-hub

# Documentation-specific ownership by project (last to take precedence)

/projects/clr/**/*.md                                                 @ROCm/clr-reviewers @ROCm/lrt-docs-reviewers
/projects/clr/**/*.rst                                                @ROCm/clr-reviewers @ROCm/lrt-docs-reviewers
/projects/clr/**/.readthedocs.yaml                                    @ROCm/clr-reviewers @ROCm/lrt-docs-reviewers
/projects/clr/hipamd/include/                                         @ROCm/clr-reviewers @ROCm/lrt-docs-reviewers

/projects/hip/**/*.md                                                 @ROCm/hip-reviewers @ROCm/lrt-docs-reviewers
/projects/hip/**/*.rst                                                @ROCm/hip-reviewers @ROCm/lrt-docs-reviewers
/projects/hip/**/.readthedocs.yaml                                    @ROCm/hip-reviewers @ROCm/lrt-docs-reviewers
/projects/hip/docs/                                                   @ROCm/hip-reviewers @ROCm/lrt-docs-reviewers
/projects/hip/include/                                                @ROCm/hip-reviewers @ROCm/lrt-docs-reviewers

/projects/rdc/**/*.md                                                 @ROCm/rdc-reviewers @ROCm/rocm-documentation
/projects/rdc/**/*.rst                                                @ROCm/rdc-reviewers @ROCm/rocm-documentation
/projects/rdc/**/.readthedocs.yaml                                    @ROCm/rdc-reviewers @ROCm/rocm-documentation
/projects/rdc/docs/                                                   @ROCm/rdc-reviewers @ROCm/rocm-documentation

/projects/rocm-core/**/*.md                                           @nunnikri @frepaul @raramakr @ashutom @amd-isparry @arvindcheru @ROCm/rocm-documentation
/projects/rocm-core/**/*.rst                                          @nunnikri @frepaul @raramakr @ashutom @amd-isparry @arvindcheru @ROCm/rocm-documentation

/projects/rocm-smi-lib/**/*.md                                        @ROCm/smi-reviewers @ROCm/rocm-documentation
/projects/rocm-smi-lib/**/*.rst                                       @ROCm/smi-reviewers @ROCm/rocm-documentation
/projects/rocm-smi-lib/**/.readthedocs.yaml                           @ROCm/smi-reviewers @ROCm/rocm-documentation
/projects/rocm-smi-lib/docs/                                          @ROCm/smi-reviewers @ROCm/rocm-documentation

/projects/rocminfo/**/*.md                                            @dayatsin-amd @shwetagkhatri @ROCm/rocm-documentation
/projects/rocminfo/**/*.rst                                           @dayatsin-amd @shwetagkhatri @ROCm/rocm-documentation
/projects/rocminfo/**/.readthedocs.yaml                               @dayatsin-amd @shwetagkhatri @ROCm/rocm-documentation
/projects/rocminfo/docs/                                              @dayatsin-amd @shwetagkhatri @ROCm/rocm-documentation

/projects/rocprofiler-compute/**/*.md                                 @ROCm/rocprof-compute-reviewer @ROCm/rocm-documentation @prbasyal-amd
/projects/rocprofiler-compute/**/*.rst                                @ROCm/rocprof-compute-reviewer @ROCm/rocm-documentation @prbasyal-amd
/projects/rocprofiler-compute/**/.readthedocs.yaml                    @ROCm/rocprof-compute-reviewer @ROCm/rocm-documentation @prbasyal-amd
/projects/rocprofiler-compute/docs/                                   @ROCm/rocprof-compute-reviewer @ROCm/rocm-documentation @prbasyal-amd

/projects/rocprofiler-systems/**/*.md                                 @ROCm/rocprof-sys @jrmadsen @ROCm/rocm-documentation
/projects/rocprofiler-systems/**/*.rst                                @ROCm/rocprof-sys @jrmadsen @ROCm/rocm-documentation
/projects/rocprofiler-systems/**/.readthedocs.yaml                    @ROCm/rocprof-sys @jrmadsen @ROCm/rocm-documentation
/projects/rocprofiler-systems/docs/                                   @ROCm/rocprof-sys @jrmadsen @ROCm/rocm-documentation

/projects/rocr-runtime/**/*.md                                        @kentrussell @dayatsin-amd @ROCm/rocm-documentation
/projects/rocr-runtime/**/*.rst                                       @kentrussell @dayatsin-amd @ROCm/rocm-documentation
/projects/rocr-runtime/**/.readthedocs.yaml                           @kentrussell @dayatsin-amd @ROCm/rocm-documentation

/projects/rocdecode/**/*.md                                           @ROCm/rocdecode-docs-reviewers
/projects/rocdecode/**/*.rst                                          @ROCm/rocdecode-docs-reviewers
/projects/rocdecode/**/.readthedocs.yaml                              @ROCm/rocdecode-docs-reviewers

/projects/rocjpeg/**/*.md                                             @ROCm/rocjpeg-docs-reviewers
/projects/rocjpeg/**/*.rst                                            @ROCm/rocjpeg-docs-reviewers
/projects/rocjpeg/**/.readthedocs.yaml                                @ROCm/rocjpeg-docs-reviewers


/projects/rocprof-trace-decoder/**/*.md                               @ROCm/rocm-devtools-team @ROCm/rocm-documentation
