# Copyright (c) Advanced Micro Devices, Inc.
# SPDX-License-Identifier: MIT

# Requirements for rocprofiler-systems
#
# Install with:
#   pip install -r requirements.txt


# Test suite

# Core testing framework
pytest>=7.4.0
pytest-subtests>=0.10.0

# Optional
pytest-cov>=4.0.0
perfetto>=0.7.0
typing-extensions>=4.0.0
numpy>=1.22
