CompileFlags:
    Remove: -W*
    Add: [-Wall, -pedantic, -I/opt/rocm/include, -I/opt/rocm/include/hsa, -I/opt/rocm/include/rocprofiler]
    Compiler: clang++

Diagnostics:
    UnusedIncludes: Strict
    # ClangTidy checks come from .clang-tidy (single source of truth)
    # see a list of checks here: https://clang.llvm.org/extra/clang-tidy/checks/list.html
