{% if data %}
.. list-table::
    :header-rows: 1

    * - Metric
      - Description
      - Unit

    {% for metric, metric_info in data.items() %}
    * - {{ metric }}
      - {{ metric_info.rst | trim | replace('\n', '\n        ') }}
      - {{ metric_info.unit | default('', true) }}
    {% endfor %}
{% else %}
No documented metrics are currently available for this section.
{% endif %}
